[submodule "vhal-core"]
	path = src/vhal-core
	url = https://github.com/aananthcn/vhal-core.git
[submodule "cluster-ui"]
	path = src/cluster-ui
	url = https://github.com/aananthcn/cluster-ui.git
[submodule "src/SocketCanGW"]
	path = src/SocketCanGW
	url = https://github.com/aananthcn/SocketCanGW.git
